<%- include("./partials/header") %>
<% data.forEach((entry) => { %>
<div>
    <div>
        <span> <%= entry.StimuliName %> </span>
        <span> <%= entry.Timestamp %> </span>

    </div>
    <% }) %>
    <img src="/images/<%= data[0].StimuliName %>" alt="">

    <%- include("./partials/footer") %>